div {
	width: 200px;
	height: 200px;
}
.rosa {
	background-color: #ee3e64;
	position: ;
}
.azul {
	background-color: #44accf;
	position: absolute;
	left: 200px;
	top: 200px;
}
.verde {
	background-color: #b7d84b;
	position: ;
	
}
.amarillo {
	background-color: yellow;
	position: ;
	
}
body {
	margin: 0px;
	padding: 0px;
}